/* Removed sizes in page */
* {
    box-sizing: border-box;
    margin: 0;
}

/* Transform every text in page in verdana */
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #000000;
}


header {
    color: #ffffff;
    background-color: #363636;
    display: flex;
    height: 50px;
    padding: 10px;
    justify-content: space-between;
}

header .menuTitle, .menuTopics {
    color: #ffffff;
    margin: 5px;
}

/* Style in menu topics */
.menuTopics a {
    color: #ffffff;
    font-size: 15px;
    margin: 10px;
    text-decoration: none;
    transition: color 0.7s, font-size 0.5s ease;
}

/* Style in hover when coursor move in a */
.menuTopics a:hover {
    color: rgb(189, 13, 13);
    font-size: 20px;
}

/* Style in title with name Mike Tyson */
.menuTitle {
    font-size: 20px;
    text-transform: uppercase;
}
