/* Removed sizes in page */
* {
    box-sizing: border-box;
    margin: 0;
}

/* Transform every text in page in verdana */
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


header {
    color: #ffffff;
    background-color: #000000;
    display: flex;
}