/* Removed sizes in page */
* {
    box-sizing: border-box;
    margin: 0;
}

/* smoothing passage in link */
html {
    scroll-behavior: smooth;
}

/* Transform every text in page in verdana */
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #000000;
    width: 100vw;
}


header {
    color: #ffffff;
    background-color: #252525;
    display: flex;
    height: 50px;
    padding: 10px;
    justify-content: space-between;
}

header .menuTitle, .menuTopics {
    color: #ffffff;
    margin: 5px;
}

/* Style in menu topics */
.menuTopics a {
    color: #ffffff;
    font-size: 15px;
    margin: 10px;
    text-decoration: none;
    transition: color 0.7s, font-size 0.5s ease;
}

/* Style in hover when coursor move in a */
.menuTopics a:hover {
    color: rgb(189, 13, 13);
    font-size: 20px;
}

/* Style in title with name Mike Tyson */
.menuTitle {
    font-size: 20px;
    text-transform: uppercase;
    padding-left: 10px;
}

/* Styl when coursor go over in this name */
.menuTitle:hover {
    color: rgb(189, 13, 13);
    transition: color 0.7s, font-size 0.5s ease;
}

/* Line white below header */
.belowHeader {
    height: 1px;
    background-color: #ffffff;
}

/* Style in space about main image */
.mainImage {
    position: relative;
    width: 100vw;
    height: calc(100vh - 60px); /* 100vh menos a altura do header */
    overflow: hidden;
}

/* Style in size and position in img */
.mainImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top center; /* Ajusta a imagem para que a parte superior fique visível */
}

/* Style in about */
#aboutMike {
    width: 100%;
    height: 750px;
    background-color: #1f1e1e;
}

/* Style in title about mike */
.titleAbout {
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    padding: 30px;
    color: #ffffff;
    transition: color 0.7s ease;
}

.titleAbout:hover {
    color: rgb(189, 13, 13);
    transition: color 0.7s, font-size 0.5s ease;
    font-size: 35px;
}

.listaTopicos {
    margin-left: 20px;
}

/* Styles in topics about */
.topico {
    width: 97%;
    height: 69px;
    background-color: #242424;
    border-radius: 10px;
    margin: 10px;
    transition: color 0.7s ease;
    border: 1px solid #bebbbb;
}

.topico:hover {
    background-color: #a19c9c;
}

.topico:hover p,
.topico:hover .tituloTopico {
    color: #000000;
    font-size: 18px;
}

.tituloTopico {
    font-size: 20px;
    margin-left: 10px;
    color: #ffffff;
    border-bottom: 2px solid #363636;
}

.topico p {
    font-size: 18px;
    margin-left: 30px;
    color: #a19c9c;
}

/* Style in image face */
.imageFace {
    position: relative; /* Permite posicionar o texto em relação à imagem */
    width: 100%; /* A imagem ocupa toda a largura disponível */
    height: 400px; /* Ajuste conforme necessário */
    overflow: hidden;
}

.imageFace img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

/* style in mike titles */
.MikeTitles {
    background-image: url('../images/face_mike.jpg');
    background-size: cover; /* Isso ajusta a imagem para cobrir toda a div */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Impede que a imagem se repita */
    width: 100%; /* Ajuste a largura conforme necessário */
    height: 98vh; /* Ajuste a altura conforme necessário */
}

/* Style in title */
.titleinMiketitles {
    color: #ffffff;
    padding: 22px;
    margin-left: 30px;
    text-align: left;
    text-transform: uppercase;
    font-size: 25px;
    transition: color 0.7s ease;
}

/* Hover in title */
.titleinMiketitles:hover {
    color: rgb(189, 13, 13);
    transition: color 0.7s, font-size 0.5s ease;
    font-size: 35px;;
}

/* Syle in div for titles */
.titlesincareer {
    color: #ffffff;
    margin-left: 50px;
    margin-top: 25px;
    font-size: 22px;
    display: flex;
}

/* Style in text */ 
.titlesincareer p {
    color: #ffffff;
    background-color: #313030;
    width: 48%;
    height: 30px;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 20px; /* Diminuí o tamanho da fonte para 18px */
    line-height: 1.5; /* Adicionei line-height para melhorar a legibilidade */
    text-align: left; /* Alinhei o texto à esquerda */
}

/* Only margin in icon */
.beltSymbol {
    margin-right: 5px;
}

.titlesincareer:hover {
    color: #fbff08;
    font-size: 25px;
}

/* Style when coursor in div */
.titlesincareer p:hover {
    color: #000000;
    background-color: #ffffff;
    font-size: 25px;
    height: auto;
    transition: color 0.9s, font-size 0.4s ease;
}

/* Style in records part in page */
.recordsMike {
    background-image: url('');
    background-size: cover; /* Isso ajusta a imagem para cobrir toda a div */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Impede que a imagem se repita */
    width: 100%; /* Ajuste a largura conforme necessário */
    height: 98vh; /* Ajuste a altura conforme necessário */
}


/* Style in footer */
footer {
    color: #ffffff;
    background-color: #1b1919;
    border-top: 1px solid #5e5d5d;
    padding: 10px;
    font-size: 15px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

/* Style in link about my linkedin */
footer a {
    text-decoration: none;
    color: #ffffff;
}

footer a:hover {
    color: rgb(245, 9, 9);
    transition: color 0.7s, font-size 0.5s ease;
    font-size: 17px;
}

/* Styles in records topic */
.recordsMike {
    background-image: url('../images/records_mike.jpg');
    background-size: cover;
    background-position: center;
    color: #ffffff;
}

/* Style title in topic records */
.recordTitle {
    font-size: 30px;
    text-transform: uppercase;
    padding: 45px;
    transition: color 0.7s ease;
}

/* Style when cursor in title RECORD */
.recordTitle:hover {
    font-size: 34px;
    color: rgb(245, 9, 9);
    transition: color 0.7s, font-size 0.5s ease;
}